html { background-color:#F6F6F6 }
            
    main { width:1920px; margin:-10px auto -10px; border:1px solid #ddd; background-color:#FFF; font-family:Arial, Helvetica, sans-serif }
    header { width:1920px; height:1080px;}

    .img_capa {
        width: 1920px; height: 400px;
    }
            
    nav { width: 1920px; background-color: #5D240A ;}
    nav ul { list-style:none; margin:0; padding:4px }
    nav ul li { display:inline-block }
    nav ul li a { font-size: 0.85em; text-decoration: none; color: #FFF; padding: 4px 20px }
    nav ul li a:hover { background-color: #B4531A }
            
    article { float:left; margin:30px 20px; width:600px }
            
    article header hgroup h1 {
        margin:0;
    }
            
    article header hgroup h5 {
        margin:0; font-size: 1.1em; color:#ccc;
        font-weight: 100;
    }
            
    aside {
        float:left;
        width:230px;
        border-top:1px solid #CC6633;
        border-bottom:1px solid #CC6633;
        padding:40px 10px 0;
        font-style: italic;
        margin-right: 20px;
        margin-bottom: 20px;
        background: url(../imagens/aspas.gif) no-repeat;
    }
            
    aside p {
        color:#999;   
    }
            
            
    #apoyo { float:right; width:300px; margin-top:30px }		
    footer { clear:both; width:700px; margin:0 auto; font-size:0.75em; text-align:center; background-color:#ECECEC; padding:5px }
            
    h1, h2, h4 { font-family:Georgia, "Times New Roman", Times, serif; color:#C63; font-style:italic; letter-spacing:-0.05em }
    h1 { font-size:2.6em; margin:0 5px; }
    h4 { font-size:1.6em; margin:0 5px; }
    p, li { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:0.9em; color:#555; line-height:1.8 }
