            html { background-color:#F6F6F6; margin: 0; }
            
            main { width:100%; max-width: 955px; margin:-1px auto 10px;  background-color:#cccdcd; font-family:Arial, Helvetica, sans-serif }
            header { width:100%;  clear: both; }
            .presentacion img {
                 width:100%;
            }


            .txt_adopcion {
                clear: both; width: auto;
            }
            .img_comp { width: 35%;float:left; margin:5px 10px;}
            .img_comp_r { width: 35%;float:right; margin:5px 10px;}
            
            nav { width: 100%; background-color: #9fe4f4 ; clear: both;}
            nav ul { list-style:none; margin:0; padding:0.5% }
            nav ul li { display:inline-block }
            nav ul li a { font-size: 1em; text-decoration: none; color: #333333; padding: 5px 20px }
            nav ul li a:hover { background-color: #efbb41
            }
            
            article { float:left; margin:30px 20px; width:60% }
            
            article header hgroup h1 {
                margin:0;
            }
            
            #form_pres { font-family: 'Permanent Marker', cursive; }

            article header hgroup h5 {
                margin:0; font-size: 1.1em; color:#ccc;
                font-weight: 100;
            }
            
            	
            footer { clear:both; width:99%; margin:0 auto;padding: 10px; font-size:0.75em; text-align:center; background-color:#333333; }
            .social_menu { width: 99% ; clear: both; }
            .social_menu ul { list-style:none; margin:0; padding:4px }
            .social_menu ul li { display:inline-block }
            .social_menu ul li img { width: 30px;  padding: 4px 5px }
            /*.social_menu ul  {width: 10px; height: auto;}	
            .social_menu ul { list-style:none; margin:0; padding:4px }
            .social_menu ul li { display:inline-block;font-size: 0.5em; width:80%;height: 35px;float:none;;} */

            h1 { font-family: 'Permanent Marker', cursive; color:#575757; font-style:italic; letter-spacing:-0.05em;text-align: center;  }
            h4, h2, h3 { font-family: 'Dancing Script', cursive; color:#575757; font-style:italic; letter-spacing:-0.05em;text-align: center; }
            h1 { font-size:2.6em; margin:0 5px; }
            h4 { font-size:1.6em; margin:0 5px; }
            p, li {font-size: 1.5em; font-family: 'Caveat', cursive;  color:#555; line-height:1.8 }

            @media (min-width: 480px) {
                .article {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    column-gap: 1em;
                }
            }