html { background-color:#F6F6F6 }
            
            main { width:955px; margin:-1px auto 10px; border:1px solid #ddd; background-color:#333333; font-family:Arial, Helvetica, sans-serif }
            header { width:955px; height:95px ;background-image:url(img/pets);}
            .patitas {width:100px; float: right; }
            
            nav { width: 955px; background-color: #9fe4f4 }
            nav ul { list-style:none; margin:0; padding:4px }
            nav ul li { display:inline-block }
            nav ul li a { font-size: 0.85em; text-decoration: none; color: #333333; padding: 4px 20px }
            nav ul li a:hover { background-color: #efbb41
            }
            
            article { float:left; margin:30px 20px; width:600px }
            
            article header hgroup h1 {
                margin:0;
            }
            
            #form_pres { font-family: 'Permanent Marker', cursive; }

            article header hgroup h5 {
                margin:0; font-size: 1.1em; color:#ccc;
                font-weight: 100;
            }
            
            aside {
                float:left;
                width:230px;
                border-top:1px solid #cecece;
                border-bottom:1px solid #cecece;
                padding:40px 10px 0;
                font-style: italic;
                margin-right: 20px;
                margin-bottom: 20px;
                background: url(../imagens/aspas.gif) no-repeat;
            }
            
            aside p {
                color:#999;   
            }
            
            
            #apoio { float:right; width:300px; margin-top:30px }		
            footer { clear:both; width:700px; margin:0 auto; font-size:0.75em; text-align:center; background-color:#ECECEC; padding:5px }
            
            h1 { font-family: 'Permanent Marker', cursive; color:#575757; font-style:italic; letter-spacing:-0.05em;text-align: center;  }
            h4, h2, h3 { font-family: 'Dancing Script', cursive; color:#575757; font-style:italic; letter-spacing:-0.05em;text-align: center; }
            h1 { font-size:2.6em; margin:0 5px; }
            h4 { font-size:1.6em; margin:0 5px; }
            p, li { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:0.9em; color:#555; line-height:1.8 }
            #formulario {
                padding: 30px 20px; margin:-1px auto 10px;
            }
            .contenedor {
                background: #fff;
                border-radius: 2px;
                box-shadow: 19px 20px 8px -9px rgba(0,0,0,0.2);
                overflow: hidden;
                width: 400px;
                max-width: 100%;
            }
            .cabecera {
                background: #cecece;
                color:azure;
                text-align: center;
                border-bottom: 1px solid #f0f0f0;
                padding: 20px 40px;
            }
            .form-control {    
                margin-bottom: 7px;
                padding-bottom: 20px;
                position: relative;
            }
            
            .form-control label {
                display: inline-block;
                margin-bottom: 7px;
                font:weight 200px
            }
            
            .form-control input {
                border: none;
                background-color: #9fe4f4;
                display: block;
                font-family: inherit;
                font-size: 16px;
                padding: 12px;
                width: 100%;    
            }
            .form-control, input:focus {
                outline: none;
            }
            
            .form-control.ok input {
                border: 0.1px solid;
                border-color: #08ffc8;
            }
            .form-control.falla input {
                border: 0.1px solid;
                border-color: #fe5f55;
            }
            
            #formulario button {
                background: #fd4f00;
                border:1px solid #fd5f00;
                border-radius: 2px;
                color: #f6f6e9;
                display: block;
                width: 100%;
                padding: 10px;
                font-size: 18px;
            }
            .form-control p {
                visibility: hidden;
                position: absolute;
                font-size: small;
                font-weight: 500;
                text-align: right;
            }
            
            .form-control.falla p {
                visibility: visible;
                color:#e74c3c;
            }