html { background-color:#F6F6F6 }
            
            main { width:955px; margin:-1px auto 10px; border:1px solid #ddd; background-color:#333333; font-family:Arial, Helvetica, sans-serif }
            header { width:955px; height:95px ;background-image:url(img/pets);}
            .patitas {width:100px; float: right; }
            
            nav { width: 955px; background-color: #9fe4f4 }
            nav ul { list-style:none; margin:0; padding:4px }
            nav ul li { display:inline-block }
            nav ul li a { font-size: 0.85em; text-decoration: none; color: #333333; padding: 4px 20px }
            nav ul li a:hover { background-color: #efbb41
            }
            
            article { float:left; margin:30px 20px; width:600px }
            
            article header hgroup h1 {
                margin:0;
            }
            
            article header hgroup h5 {
                margin:0; font-size: 1.1em; color:#ccc;
                font-weight: 100;
            }
            
            aside {
                float:left;
                width:230px;
                border-top:1px solid #cecece;
                border-bottom:1px solid #cecece;
                padding:40px 10px 0;
                font-style: italic;
                margin-right: 20px;
                margin-bottom: 20px;
                background: url(../imagens/aspas.gif) no-repeat;
            }
            
            aside p {
                color:#999;   
            }
            
            
            #apoio { float:right; width:300px; margin-top:30px }		
            footer { clear:both; width:700px; margin:0 auto; font-size:0.75em; text-align:center; background-color:#ECECEC; padding:5px }
            
            h1 { font-family: 'Permanent Marker', cursive; color:#575757; font-style:italic; letter-spacing:-0.05em;text-align: center;  }
            h4, h2, h3 { font-family: 'Dancing Script', cursive; color:#575757; font-style:italic; letter-spacing:-0.05em;text-align: center; }
            h1 { font-size:2.6em; margin:0 5px; }
            h4 { font-size:1.6em; margin:0 5px; }
            p, li { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:0.9em; color:#555; line-height:1.8 }
